<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodmorningrainbow.dantongapp">

    <permission
        android:name="com.goodmorningrainbow.dantongap.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.goodmorningrainbow.dantongap.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="RainbowAnalytics"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name=".TitleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".SelectManuPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".SelectPhoneListPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".PurchasePopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".SelectMonthlyPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".SelectPriceListPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".SelectPaySystemPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".CostAlertPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".ClubAlertPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".ShowAlertPopup"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".MonthlyPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".PaneltyPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"></activity>

        <activity
            android:name=".CommnetPopupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.customDialog"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".PushAlertActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name="nobug.webview.BrowserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="com.goodmorningrainbow.dantongapp.GCMIntentService" />

        <service
            android:name="com.goodmorningrainbow.dantongapp.GCMAlertService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW">
            <intent-filter>
                <action android:name="com.goodmorningrainbow.dantongapp.gcm" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.goodmorningrainbow.dantongapp" />
                <!-- 젤리빈 부터는 category 빼도 된다 -->
            </intent-filter>
        </receiver>

    </application>

</manifest>
